.curso-formulario {
    width: 70%;
    height: 12.5rem;
}

.curso {
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 21.875rem;
    height: 18.75rem;
    border-radius: 0.3125rem;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    position: relative;
}

.elegir-mod {
    margin: 1.875rem;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 21.875rem;
    height: 37.5rem;
    border-radius: 0.3125rem;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    position: relative;

    ul li {
        list-style: none;
    }
}