.modalidad1 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-image: url("../assets/img/port11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.modalidad11 {
    display: flex;
    width: 100%;
    height: 43.75rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.modalidad2 {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-image: url("../assets/img/portada3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tandem,
.estilo-libre,
.fcl,
.freefly,
.pda,
.trv,
.skysurf,
.big-ways {
    width: 21.875rem;
    height: 25rem;
    border-radius: 0.3125rem;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    position: relative;
    font-size: 1.5625rem;
}