@media (max-width:1200px){
    main{
        section{
            .container.pag1{
                height: auto;
                justify-content: center;
                align-items: center;
            }
        }
    }
    main{
        section{
            .section-principal{
                button{
                    .bcur{
                        margin-bottom: 15.625rem;
                    }
                }
            }
        }
    }
    main{
        section{
            .container.pag1{
                section{
                    .mapa{
                        margin-left: 0.9375rem;
                        align-items: center;
                        flex-direction: column;
                        article{
                            .mapa-center{
                                width: 100%;
                            }
                            .text-mapa{
                                width: 80%;
                                font-size: 1.2rem;
                                height: auto;
                            }
                    }
                    }
                }
            }
        }
    }
    header{
        nav{
            ul{
                .navbar{
                    li{
                        a{
                            font-size: 1.5625rem;
                        }
                    }
                }
            }
        }
    }
}