@media (max-width:1465px){
    .container-products{
        .container-card{
            width: 20rem;
            height: 18rme;
        }
    }
    main{
        section{
            .modalidad1{
                gap: 1.1rem;
                .modalidad11{
                    gap: 1.1rem;
                }
            }
            .modalidad2{
                gap: 1.1rem;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}